name: Build image using custom builder

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install and setup pack CLI
        run: |-
          add-apt-repository ppa:cncf-buildpacks/pack-cli
          apt-get update
          apt-get install pack-cli

      - name: Build and Push Image
        run: |
          # Enable experimental features
          pack config experimental true

          # Build the image
          pack build -B rashadxyz/test-builder:demo test_image
